{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/css/Head.css' %}">
</head>
<body>
    <div class="Head">
        <header class="header-container">
            <div class="header-row">
                <h1>Welcome to</h1>
                <h3 class="bits-text">BITS, Pilani</h3> <!-- Aligned to the right -->
            </div>
            <p class="tagline">Hostel Maintenance System</p>
            <h3 class="subtext">We build, We Maintain!</h3>
        </header>
    </div>
</body>
</html>