{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/css/Navbar.css' %}">
</head>
<body>
    <nav class="navbar">
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/submit_complaint/'">Student Complaints</button>
        <button onclick="location.href='/complaints/'">Previous Complaints</button>
        <button onclick="location.href='/emsteam/'">EMSTeam</button>
        <button onclick="location.href='/hmsteam/'">HMS Team</button>
    </nav>
</body>
</html>