{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Complaints</title>
    <link rel="stylesheet" href="{% static 'src/css/Page9.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/Head.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/Navbar.css' %}">
</head>
<body>
    <div class="complaints-container">
        <header>
            {% include 'complaints/Head.html' %}
            {% include 'complaints/Navbar.html' %}
        </header>
        <section>
            <div class="Main-text">
                <h2>Previous Complaints</h2>
            </div>
            {% if complaints %}
                <table>
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>IST</th>
                            <th>Name</th>
                            <th>BITS ID</th>
                            <th>Contact No.</th>
                            <th>Room No.</th>
                            <th>Area</th>
                            <th>Requirement</th>
                            <th>Category</th>
                            <th>Time</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for complaint in complaints %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ complaint.ist|date:"d M Y H:i:s" }}</td>
                                <td>{{ complaint.name }}</td>
                                <td>{{ complaint.bitsId }}</td>
                                <td>{{ complaint.contact_no }}</td>
                                <td>{{ complaint.room }}</td>
                                <td>{{ complaint.area }}</td>
                                <td>{{ complaint.requirement }}</td>
                                <td>{{ complaint.category }}</td>
                                <td>{{ complaint.preferred_time }}</td>
                                <td>{{ complaint.description }}</td>
                                <td>{{ complaint.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No complaints found.</p>
            {% endif %}
        </section>
    </div>
</body>
</html>